.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid;
    border-color: rgb(107, 98, 234);
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid rgb(253, 10, 10);
    color: rgb(21, 30, 213);
    background: rgb(211, 243, 166);
    border-radius: 3px;
}

button:hover,
button:active {
    background-color: rgb(62, 4, 255);
    color: white;
}